<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tugas Component</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
</head>
<body>

    <div id="app">

        <div class="formInput">
            <input type="text" v-model="formUser">
            <button v-if="!editButton" @click="addUser">Add</button>
            <button v-if="editButton" @click="updateUser">Update</button>
        </div>

        <!-- dengan menggunakan komponen, dan looping saat pemanggilan komponen -->
        <!-- <user-component
          v-for="(user, index) in reverseUsers"
          :user="user"
          :key="index"
          @editevent = "editUser(index)"
          @deleteevent = "deleteUser(index)"
        >
        </user-component> -->

        <!-- tinggal memanggil komponen beserta emit-nya, looping sudah dilakukan di dalam elemen -->
        <!-- emit berfungsi untuk menangkap event dari child component ke parent component -->
        <user-component
          :reverse-users="reverseUsers"
          @editevent = "editUser($event)"
          @deleteevent = "deleteUser($event)"
        >
        </user-component>

        <!-- tanpa menggunakan komponen -->
        <!-- <div class="usersList">
            <ul>
                <li v-for="(user , index) in reverseUsers" :key="index">
                    {{ user.name }} ||
                    <button @click="editUser(index)">Edit</button>
                    <button @click="deleteUser(index)">Delete</button>
                </li>
            </ul>
        </div> -->

    </div>

    <script>
        //tanpa looping di dalam komponen
        // var UserComponent = { //inisialisasi emit usahakan menggunakan lowercase
        //   template : `
        //     <div>
        //       {{ user.name }} ||
        //       <button @click="$emit('editevent')">Edit</button>
        //       <button @click="$emit('deleteevent')">Delete</button>
        //     </div>
        //   `,
        //   props : ['user'],
        // }

        //looping array berada di dalam komponen
        var UserComponent = { //inisialisasi emit usahakan menggunakan lowercase
          template : `
            <div>
              <ul>
                <li v-for="(user, index) in reverseUsers" :key="index">
                  {{ user.name }} ||
                  <button @click="$emit('editevent', index)">Edit</button>
                  <button @click="$emit('deleteevent', index)">Delete</button>
                </li>
              </ul>

            </div>
          `,
          props : ['reverseUsers'],
        }

        let vm = new Vue({
            el: '#app',
            components: {
              'user-component': UserComponent,
            },
            data: {
                users: [
                    { name: 'Muhammad Iqbal Mubarok' },
                    { name: 'Ruby Purwanti' },
                    { name: 'Faqih Muhammad' },
                ],
                formUser: '',
                editButton: false,
                idSelected: null
            },
            computed: { //untuk membalik posisi elemen pada array users
                reverseUsers: {
                    get: function () {
                        return this.users.slice().reverse()
                    },

                    set: function (value) {
                        this.users = value.slice().reverse()
                    }
                }
            },
            methods: {
                addUser: function () {

                    this.users.push({ name: this.formUser })
                    this.formUser = ''

                },
                editUser: function (id) {

                    this.formUser = this.reverseUsers[id].name
                    this.editButton = true
                    this.idSelected = id

                },
                updateUser: function () {

                    this.reverseUsers[this.idSelected].name = this.formUser
                    this.formUser = ''
                    this.editButton = false

                },
                deleteUser: function (id) {

                    let confirmation = confirm("Anda yakin ?")

                    if (confirmation) {
                        this.reverseUsers = this.reverseUsers.filter(function (item, index) {
                            return index != id
                        })
                    }

                }

            }

        })

    </script>

</body>
</html>
