<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link href="style.css" rel="stylesheet">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <style media="screen">

  </style>

</head>
<body>
  <div id="app">
    <form @submit.prevent="submitForm()" action=""><!-- shorthand directive v-on dgn menggunakan @ -->
      <p v-if="errors.length"> <!-- menampilkan pesan error di atas form -->
        <b>Please correct the following errors: </b>
        <ul>
          <li v-for="error in errors">{{ error }}</li>
        </ul>
      </p>

      <label>Nama: </label>
      <input type="text" :disabled="buttonStatus == 'upload'" name="name" ref="name" v-model="name" size="35"><!-- .prevent adalah modifier dari v-on -->
      <label>Nomor HP: </label>
      <input type="text" :disabled="buttonStatus == 'upload'" name="no_hp" ref="no_hp" v-model="no_hp" size="35"><!-- .prevent adalah modifier dari v-on -->
      <label>Alamat: </label>
      <textarea name="address" :disabled="buttonStatus == 'upload'" v-model="address" ref="address" rows="5" cols="35"></textarea>

      <div v-if="buttonStatus == 'submit'" class="buttonForm">
        <input type="submit" value="SUBMIT">
      </div>
      <div v-else-if="buttonStatus == 'update'" class="buttonForm">
        <input type="button" value="UPDATE" @click="updateMember(idEditMember)">
        <input type="button" value="CANCEL" @click="clearForm()" style="margin-top:5px">
      </div>
      <div v-else-if="buttonStatus == 'upload'" class="buttonForm">
        <input type="file" name="photo" ref="photo">
        <input type="button" value="UPLOAD" @click="submitPhoto(idUploadMember)" style="margin-top:5px">
        <input type="button" value="CANCEL" @click="clearForm()" style="margin-top:5px">
      </div>
    </form>
    <br>

    <table border="0">
      <tr v-for="member in members">
        <td>
          <img width=100 :src="member.photo_profile ? photoDomain + member.photo_profile : 'https://dummyimage.com/16:9x1080'" alt="">
        </td>
        <td>
          <b>ID: </b> {{ member.id }} <br>
          <b>Nama: </b> {{ member.name }} <br>
          <b>Alamat: </b> {{ member.address }} <br>
          <b>Nomor HP: </b> {{ member.no_hp }} <br>
        </td>
        <td>
          <button @click=editMember(member)>Edit</button>
          <button @click=removeMember(member.id)>Hapus</button>
          <button @click=uploadPhoto(member)>Upload Foto</button>
        </td>
      </tr>
    </table>

  </div>

  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script>
   var vm = new Vue({
      el: '#app',
      data: {
        name: '',
        address: '',
        no_hp: '',
        errors: [],
        members: [],
        idEditMember: null,
        idUploadMember: null,
        buttonStatus: 'submit',
        photoDomain: 'http://demo-api-vue.sanbercloud.com'
      },
      methods: {
        validationForm: function(){
          //let error = 0,
          this.errors = []
          if(this.name.length < 5){
            //error++
            this.errors.push('Nama minimal 5 karakter')
            this.$refs.name.focus() //mengarahkan kursor ke kolom input yg menimbulkan error, digabung dengan "ref" pada tiap input form
          }

          if(this.address.length > 100){
            //error++
            this.errors.push('Alamat tidak boleh lebih dari 100 karakter')
            this.$refs.address.focus()
          }
        },

        clearForm: function(){
          this.name = ''
          this.no_hp = ''
          this.address = ''
        },

        submitForm: function(){

          this.validationForm()

          if(this.errors.length === 0){

            let formData = new FormData() //menyiapkan data yg akan dikirim
            formData.append('name', this.name)
            formData.append('no_hp', this.no_hp)
            formData.append('address', this.address)

            const config = {
              method : "post", //mengirim data
              url : "http://demo-api-vue.sanbercloud.com/api/member",
              data : formData
            }

            axios(config)
              .then( (response) => {
                this.clearForm()
                this.getMembers()
                alert(response.data.message)

              })
              .catch( (error) => {

              })

          }
        },
        getMembers : function(){

          const config = {
            method : "get",
            url : "http://demo-api-vue.sanbercloud.com/api/member"
          }

          axios(config)
            .then( (response) => {
              this.members = response.data.members
              //console.log(response.data.members)

            })
            .catch( (error) => {
              console.log(error);
            })

        },

        removeMember: function(id){
          alert(`Apakah anda yakin akan menghapus data dengan ID: ${id} ?`)

          const config = {
            method : "post",
            url : `http://demo-api-vue.sanbercloud.com/api/member/${id}`,
            params : { _method : "DELETE" }
          }

          axios(config)
            .then( (response) => {
              this.getMembers()
              alert(response.data.message)
              //console.log(response);
            })
            .catch( () => {
              console.log(error);
            })

        },

        editMember: function(member){
          this.name = member.name
          this.no_hp = member.no_hp
          this.address = member.address
          this.idEditMember = member.id
          this.buttonStatus = 'update'
        },

        clearForm: function(){
          this.name = ''
          this.no_hp = ''
          this.address = ''
          this.buttonStatus = 'submit'
          this.idEditMember = null
          this.idUploadMember = null
        },

        updateMember: function(id){
          this.validationForm()

          if( this.errors.length === 0 ){
            let formData = new FormData()
            formData.append('name', this.name)
            formData.append('no_hp', this.no_hp)
            formData.append('address', this.address)

            let config = {
              method : "post",
              url : `http://demo-api-vue.sanbercloud.com/api/member/${id}`,
              params : { _method : 'PUT' },
              data : formData
            }

            axios(config)
              .then( (response) => {
                this.clearForm()
                this.getMembers()
                alert(response.data.message)
              })
              .catch( (error) => {
                console.log(error);
              })
          }
        },

        uploadPhoto: function(member){
          this.name = member.name
          this.no_hp = member.no_hp
          this.address = member.address
          this.idEditMember = member.id
          this.idUploadMember = member.id
          this.buttonStatus = 'upload'
        },

        submitPhoto: function(id){

          let file = this.$refs.photo.files[0]//photo sesuai dgn nama ref pada input file

          let formData = new FormData()
          formData.append('photo_profile', file)

          let config = {
            method : "post",
            url : `http://demo-api-vue.sanbercloud.com/api/member/${id}/upload-photo-profile`,
            data : formData
          }

          axios(config)
            .then( (response) => {
              this.clearForm()
              this.getMembers()
              alert(response.data.message)
            })
            .catch( (error) => {
              console.log(error);
            })

        }
      },
      created(){//using hooks, untuk memuat fungsi getMembers() ketika halaman sedang dimuat
        this.getMembers()
      }
  })
  </script>
</body>
</html>
