form{
  margin: auto;
  border-radius: 15px;
  border: 1px solid #ddd;
  padding: 20px 10px;
  width: 350px;
  height: 300px;
  background: #ffe1ae;
}

form:hover{
  box-shadow: 10px 10px 70px rgb(255, 162, 0, 0.75);
  border: solid 1px #ffd68e;
}
label{
  margin: auto;
  display: block;
  margin-top: 5 px;
}

p, label, input, textarea{
  margin-left: 33px;
}

input, textarea{
  margin-bottom: 10px;
}

table{
  margin: auto;
  border-collapse: collapse;
}
tr:nth-child(even){
  background-color: #ffd0bf;
}

tr:nth-child(even):hover{
  background-color: coral;
}

tr:nth-child(odd){
  background-color: #afe6ff;
}

tr:nth-child(odd):hover{
  background-color: #35bfff;
}

td{
  padding: 20px;
}
