<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div id="app">
    <form @submit.prevent="submitForm" action="#">
      <input type="text" name="inputName" v-model:value="inputName"/>
      <button type="submit" @click="submitForm('update')" v-if="isEdit">Update</button>
      <button type="submit" @click="submitForm('add')" v-else>Add</button>
      <p>
        <ul style="line-height:200%">
          <li v-for="(user, index) in showUsers">
            {{ user.name }}
            <button type="submit" value="indexOf(users)" @click="submitForm('edit', index)">Edit</button>
            {{ '||' }}
            <button type="submit" value="indexOf(users)" @click="submitForm('delete', index)">Delete</button>
          </li>
        </ul>
      </p>
    </form>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
  <script>
   var vm = new Vue({
      el: '#app',
      data: {
        isEdit: false,
        updateIndex: null,
        inputName: '',
        users: [
          {
            'name' : 'Muhammad Iqbal Mubarok',
          },
          {
            'name' : 'Ruby Purwanti',
          },
          {
            'name' : 'Faqih Muhammad',
          },
        ]
      },
      computed: {
        showUsers: {
          get(inputName){
            return this.users
          }
        },
      },
      methods: {
        submitForm(action, index){
          if (action === "delete"){
             alert('Apakah anda yakin?')
             this.users.splice(index, 1)
             //console.log(index);
          }
          else if(action === "add"){
            this.users.push({'name' : this.inputName})
            this.inputName = ''
          }
          else if(action === "edit"){
            this.isEdit = true
            this.updateIndex = index
            this.inputName = this.users[index].name
            //console.log(this.users[index])
          }
          else if(action === "update"){
            this.users.splice(this.updateIndex, 1)
            this.users.splice(this.updateIndex, 0, {'name' : this.inputName})
            this.updateIndex = null
            this.isEdit = false
            this.inputName = ''
          }
        }
      }
  })
  </script>
</body>
</html>
