html {
  font-size: 100%;
  -webkit-font-smoothing: antialiased;
}

body{
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgba(29, 161, 242, 0.85);
  color: #ffffff;
}

ul {
  list-style: none;
}

.card{
  margin: 10% 20%;
  padding: 50px 50px;
  border-radius: 50px;
  background-color: #202020;
  /*border: solid 3px rgb(92, 209, 255);*/
	box-shadow: 15px 15px 20px rgb(0, 0, 0, .75);
}

.picture{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 400px;
  float: left;
}

.displaypic{
	width: 280px;
	height: 280px;
	border-radius: 140px;
  border: solid 5px rgb(0, 0, 0, 0.8);
}

.biodata h1, .cta h3{
  color: #de7913;
}

.biodata li{
  line-height: 1.6;
}

.information{
  float: right;
}

.socmed li{
  float: left;
  margin-right: 50px;
}

.socmed li:hover{
  cursor: pointer;
}

.socmed-icon{
  width: 40px;
  height: 40px;
  filter:grayscale(100%);
}

.socmed-icon:hover{
  filter:grayscale(0%);
}

.clear{
  clear: left;
}
