<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div id="app">
    <form>
      <input type="text" name="filter" v-model:value="filter"/>
    </form>
    <p>
      <ul>
        <li v-for="item in showStorages">{{item}}</li>
      </ul>
    </p>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
  <script>
   var vm = new Vue({
      el: '#app',
      data: {
        filter: '',
        storages: [],
        books: [
          'Kalkulus Dasar',
          'Fisika Dasar',
          'Aljabar Linier Elementer',
          'Aljabar Abstrak',
          'Algoritma Pemrograman'
        ]
      },
      computed: {
        showStorages: {
          get(filter){
            if(this.filter == ''){
              this.storages = this.books
              return this.storages
            }
            else if(this.filter !==''){
              this.storages = []
              for(let i = 0; i < this.books.length; i++){
                if(this.books[i].toLowerCase().includes(this.filter.toLowerCase())){
                  this.storages.push(this.books[i])
                }
              }
              return this.storages
            }
          }
        }
      }
  })
  </script>
</body>
</html>
