<template>
  <!-- template Blogs -->
  <v-container class="ma-0 pa-0" grid-list-sm>
    <div class="text-right">
      <v-btn small text to="/blogs" class="blue--text">
        All Blogs <v-icon>mdi-chevron-right</v-icon>
      </v-btn>
    </div>
    <v-layout wrap>
      <blog-item-component
        v-for="blog in blogs"
        :key="`blog-`+blog.id"
        :blog="blog"
      ></blog-item-component>
    </v-layout>

    <!-- <button @click="increment(10)">Tambah</button>
    {{ count }} -->

    </v-container>
</template>

<script>

  import BlogItemComponent from '../components/BlogItemComponent.vue'
  // import { mapMutations, mapGetters } from 'vuex'

  export default {
    data: () => ({
      apiDomain: 'https://demo-api-vue.sanbercloud.com',
      blogs: [],
    }),

    components: {
      'blog-item-component' : BlogItemComponent
    },

    computed: {
      // count(){//unutk memanggil  getters pada store
      //   return this.$store.getters.count
      // }

      // ...mapGetters({
      //   'count' : 'counter/count' //dengan module
      //   //'count' : 'count' //tanpa module
      //   //nama mapgetters : nama getters pada store
      // })
    },

    methods: {
      go() {
        const config = {
          method: 'get',
          url: this.apiDomain + '/api/v2/blog/random/4'
          //atau url: `${apiDomain}/api/v2/blog/random/3`
        }
        this.axios(config)
          .then(response => {
            let { blogs } = response.data
            this.blogs = blogs
            console.log(this.blogs)
          })
          .catch(error => {
            console.log(error)
          })
      },

      // increment(payload){//memanggil mutation dari store pada ./store/index.js
      //   this.$store.commit('increment', payload)
      // },

      // ...mapMutations({//memanggil mutation dgn mapMutations
      //   'increment' : 'counter/increment' //dengan penerapan module
      //   //'increment' : 'increment' //tanpa module
      //   //nama mapMutations : nama mutations pada store
      // })

    },
    created(){

      //console.log(this.$store.state.count);
      this.go()

    }
  }

//untuk mengetes apakah akses data ke api berhasil
// created(){
//   const api = 'https://demo-api-vue.sanbercloud.com/api/v2/blog/random/3'
//   this.axios.get(api)
//     .then((response) => {
//       console.log(response.data)
//     })

</script>
