<template>
  <v-container v-if="!guest" class="ma-0 pa-0" grid-list-sm>

    <v-dialog v-model="dialog" width="550px">
        <v-card>
          <v-card-title class="text-h5">Apakah anda yakin akan menghapus Blog ini?</v-card-title>
          <v-card-text>Menghapus Blog berarti menghapus data Blog tersebut dari database secara permanen.</v-card-text>
          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn color="green darken-1" text @click="cancel">Cancel</v-btn>
            <v-btn color="deep-orange darken-1" text @click="confirmDelete">Delete</v-btn>
          </v-card-actions>
        </v-card>
    </v-dialog>

    <v-dialog v-model="upload" width="550">
        <v-card>
          <v-form v-model="isFormValid">
            <v-card-title class="text-h6">Pilih file foto yang akan diupload</v-card-title>
            <v-file-input
              v-model="photoFile"
              accept="image/png, image/jpeg, image/bmp"
              prepend-icon="mdi-camera"
              label="Photo"
              :rules="photoRules"
            ></v-file-input>
            <v-card-actions>
              <v-spacer></v-spacer>
              <v-btn :disabled="!isFormValid" color="green darken-1" text @click="confirmUpload">Upload</v-btn>
              <v-btn color="deep-orange darken-1" text @click="cancelUpload">Cancel</v-btn>
            </v-card-actions>
          </v-form>
        </v-card>
    </v-dialog>

    <v-subheader class="text-h6">
      Manage Blogs Data
    </v-subheader>

    <v-layout wrap justify-center>
        <v-card>
            <v-simple-table align="center">
              <tbody>
                <tr v-for="blog in blogs" :key="`blog-`+blog.id" class="fill-height align-end">
                  <td>
                    <v-img
                      :src="blog.photo ? apiDomain + blog.photo : 'https://picsum.photos/200/300'"
                      class="white--text"
                      height="100px"
                      width="100px"
                    >
                  </v-img>
                  </td>
                  <td width="200px">
                    <b>Judul: </b>{{ blog.title}}<br>
                    ID: {{blog.id}} <br>
                    <b>Deskripsi: </b>{{ blog.description.substring(0, 15) }}...
                  </td>
                  <td>
                    <v-btn
                      color="light-blue lighten-2"
                      class="mr-2"
                      @click="editBlog(blog.id, blog.title, blog.description)"
                    >
                      Edit
                      <v-icon right dark> mdi-pencil </v-icon>
                    </v-btn>
                    <v-btn
                      color="deep-orange darken-1"
                      class="mr-2"
                      @click="deleteBlog(blog.id)"
                    >
                      Delete
                      <v-icon right dark> mdi-delete </v-icon>
                    </v-btn>
                    <v-btn
                      color="orange lighten-2"
                      class="mr-2"
                      @click="uploadPhoto(blog.id)"
                    >
                      Upload Photo
                      <v-icon right dark> mdi-upload </v-icon>
                    </v-btn>
                  </td>
                </tr>
              </tbody>
            </v-simple-table>
        </v-card>
    </v-layout>

    <v-pagination
      circle
      prev-icon="mdi-menu-left"
      next-icon="mdi-menu-right"
      v-model="page"
      @input="go"
      :length="lengthPage"
      :total-visible="perPage"
    >
    </v-pagination>

  </v-container>
</template>

<script>

import { mapActions, mapGetters } from 'vuex'

export default {
  data:() => ({
    apiDomain: 'https://demo-api-vue.sanbercloud.com',
    isFormValid: false,
    blogs: [],
    photoFile: [],
    page: 0,
    lengthPage: 0,
    perPage: 0,
    dialog: false,
    upload: false,
    idActive: null,
    photoRules: [
      (value) => !value || value.size > 0 || 'Foto wajib diupload!',
    ]
  }),

  computed: {
    ...mapGetters({
        guest: 'auth/guest',
        token: 'auth/token',
    }),
  },

  methods: {
    ...mapActions({
      setAlert: 'alert/set',
      setDialogComponent: 'dialog/setComponent',
    }),

    go(){
      const config = {
        method: "get",
        url: this.apiDomain + "/api/v2/blog?page=" + this.page,
        //params : { 'page' : this.page }
        //atau url: `${apiDomain}/api/v2/blog/`
      }

      this.axios(config)
        .then( response => {
          let { blogs } = response.data //memasukkan data dari api ke array objek
          this.blogs = blogs.data
          this.page = blogs.current_page //mengambil value berdasarkan key pada array objek di atas
          this.lengthPage = blogs.last_page
          this.perPage = blogs.per_page
        })
        .catch( error => {
          console.log(error)
        })

    },

    editBlog(id, title, description){
      this.setDialogComponent({'component' : 'editBlog', 'params' : [id, title, description]})
    },

    deleteBlog(id){
      this.dialog = true
      this.idActive = id
      //console.log(this.idActive);
    },

    confirmDelete(){
      const config = {
        method: "post",
        url: this.apiDomain + "/api/v2/blog/" + this.idActive,
        params : { _method : 'DELETE'},
        headers: {
          'Authorization' : 'Bearer' + this.token,
        },
      }

      this.axios(config)
        .then( (response) => {
          console.log(response.data);
          this.setAlert({
              status: true,
              color: 'success',
              text: 'Blog Berhasil Dihapus!',
          })
          this.dialog = false
          // this.$router.push("/")
          window.location.reload()
        })
        .catch( (response) => {
          console.log(response)
          this.setAlert({
              status: true,
              color: 'error',
              text: 'Blog Gagal Dihapus! Silahkan coba lagi',
          })
        })
    },

    uploadPhoto(id){
      this.upload = true
      this.idActive = id
    },

    confirmUpload(){
      let formData = new FormData()
      formData.append("photo", this.photoFile)

      const config = {
        method: "post",
        url: `${this.apiDomain}/api/v2/blog/${this.idActive}/upload-photo`,
        data: formData,
        headers: {
          'Authorization' : 'Bearer' + this.token,
        },
      }

      this.axios(config)
        .then( (response) => {
          console.log(response.data);
          this.setAlert({
              status: true,
              color: 'success',
              text: 'Foto Berhasil Diupload!',
          })
          this.upload = false
          // this.$router.push("/")
          window.location.reload()
        })
        .catch( (response) => {
          console.log(response)
          this.setAlert({
              status: true,
              color: 'error',
              text: 'Foto Gagal Diupload! Silahkan coba lagi',
          })
        })

    },

    cancelUpload(){
      this.upload = false
      this.idActive = null
    },

    cancel(){
      this.dialog = false
      this.idActive = null
    }

  },

  created() {
    this.go()
  }
}
</script>
